
/* 
    Created on : 27 oct. 2021, 13:00:58
    Author     : LeoMarqz
*/

*{
    padding: 0;
    margin: 0;
    font-family: sans-serif, Helvetica;
}

body{
    background: url(../images/bg.png);
}

.link{
    color: #01b1ea; 
}



.link:visited{
    color: #01b1ea;
}

.link:hover{
    color:#555555;
}

/* container */
#container{
    width: 80%;
    height:auto;
    margin: 0 auto;
    box-shadow: 0px 0px 10px gray;
    background: white;
}

/* header ================================= */
#header{
    height:145px;
    background: #f0f0f0;
}

#logo{
    padding: 20px;
    margin-left: 20px;
    float: left;
}

#logo img{
    height:100px;
    float:left;
}

#logo a{
    float:left;
    font-size: 40px;
    letter-spacing: 4px;
    font-family: 'Open Sans', 'Helvetica Neue';
    text-transform: uppercase;
    color:#01b1ea;
    font-weight: bold;
    text-decoration: none;
    margin-top: 18px;
    margin-left: 25px;
    text-shadow: 0px 2px 1px #222;
    transition: all 300ms;
}

#logo a:hover{
    text-shadow: 0px 0px 4px #01b1ea;
}


/* menu */
#menu{
    background: #222;
    color:white;
    height:55px;
    clear:both;
    border-bottom: 4px solid #01b1ea;
}

#menu ul{
    list-style: none;
    margin:0 auto;
    margin-left: 25px;
}

#menu ul li{
    line-height: 55px;
    float:left;
    border-right: 1px solid #363636;

}

#menu a {
    color:white;
    text-decoration: none;
    display:block;
    padding:0px 12px;
    transition: all 300ms;
}

#menu a:first-child{
    border-left: 1px solid #363636;
}

#menu a:hover{
    background: #01b1ea;
}


#content{
    margin: 0 auto;
    overflow: hidden;
    background: white;
}


/* barra lateral */
#lateral{
    width:22%;
    min-height: 500px;
    float:left;
    margin-top: 20px;
    margin-left: 10px;
}

#lateral .block_aside{
    display:block;
    width:90%;
    margin: 5px auto;
    padding:10px;
}

#lateral h3{
    display:block;
    color:#222;
    width: 100%;
    text-align:center;
    padding:7px 0px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 3px solid #01b1ea;
    box-shadow:2px 2px 3px #ccc;
}


/* forms */

#lateral #login .form{
    box-shadow: 1px 1px 5px rgb(240, 239, 239);
    padding:5px;
}

label{
    display:block;
    width:95%;

    margin:2px 0px;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="email"],
textarea,
select{
    width:calc(100% - 10px);
    display:block;
    border: 1px solid #e9e9e9;
    box-shadow: 0px 0px 2px #ccc inset;
    background: white;
    padding:7px 5px;
    color:gray;
    transition:all 300ms;
}



input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,textarea:focus,
select:focus{
    border:1px solid #1579b5;
    color:black;
}

input[type="submit"],
input[type="button"]{
    display:block;
    border-radius:2px;
    width:auto;
    color:white;
    background: #2979cd;
    border:1px solid #11608e;
    cursor:pointer;
    padding:5px 10px;
    margin-top: 20px;
    margin-bottom: 10px;

}

input[type="submit"]:hover,
input[type="button"]:hover{
    background: #3995f8;
    border:1px solid #11608e;
}

.button{
    display:block;
    min-width: 150px;
    padding:5px;
    background: #33ae30;
    color:#fff !important;
    text-decoration:none;
    border-radius: 5px;
}

.button:hover{
    background: #2ce029;
}


#lateral ul{
    margin:10px 0px;
}

#lateral ul li{
    list-style-type:none;
    margin-top: 5px;
    margin-bottom: 5px; 
    margin-left: 20px;
}
#lateral ul li::before{
    content: '⚙';
}

#lateral ul li .close-session{
    color:white;
    background: rgb(187, 1, 1);
    padding: 5px 5px;
    text-decoration: none;
    border-radius: 5px;
}

#lateral ul li .close-session:hover{
    background: rgb(255, 16, 16);
}

#lateral ul .li-close-session{
    list-style-type: none;
    margin-top: 15px;
}

#lateral ul .li-register{
    list-style-type: none;
    margin-top: 15px;
}


#lateral ul .li-register .register{
    color:white;
    background: rgb(4, 1, 187);
    padding: 5px 5px;
    text-decoration: none;
    border-radius: 5px;
}

#lateral ul .li-register .register:hover{
    background: rgb(6, 2, 240);
}

#lateral ul .li-register::before,
#lateral ul .li-close-session::before{
    content:'';
}

#central{
    width:74%;
    min-height: 500px;
    float:right;
    border-left: 1px solid #ccc;
    box-shadow: -5px -1px 5px #ddd;
    padding:20px;
}

#central h1{
    font-size:24px;
    font-weight: bold;
    letter-spacing:1px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 25px;
    margin-top: 0px;
    margin-bottom: 20px;
    padding:20px;
    box-shadow:2px 2px 3px #ccc;
}


/* product */

.product{
    border-right:1px solid #ccc;
    width:27%;
    float:left;
    margin:10px 10px;
    text-align:center;
    padding:15px;
    box-shadow:1px 1px 5px rgb(224, 224, 224);
    border-radius: 5px;
}

.product img{
    width: 100px;
    margin-bottom: 10px;
}


.product h2{
    font-size: 18px;
    margin-bottom: 5px;
}

.product p{
    margin-bottom: 10px;
    font-weight: normal;
    color:gray;
}


#footer{
    text-align:center;
    padding:10px 0px;
    color:white;
    background: #222;
    clear:both;
    border-top: 4px solid #01b1ea;
}


/* table - categories */

.btn-add-category{
    min-width: 150px;
    background: #1fb601;
    color: white;
    margin: 10px 0px;
    padding:7px;
    text-decoration: none;
    border-radius: 5px;
}

.btn-add-category:hover{
    background: #28ea01;
}

.table-gestion{
    width:100%;
    margin-top: 15px;
    border-collapse: collapse;
}

.table-gestion thead{
    padding:7px 0px;
    background: #012430;
}

.table-gestion thead tr th{
    padding: 3px 0px;
    border-bottom: 2px solid #ccc;
    color: white;
}

.table-gestion tbody tr{
    border-bottom: 1px solid #ccc;
    padding:3px 0px;
}

.table-gestion tbody tr:hover{
    background: rgba(0, 0, 0, 0.089);
}

.table-gestion tbody tr td{
    text-align:center;
    padding:2px 0px;
}

.table-gestion tbody tr td:first-child{
    font-weight: bold;
}

/* button delete - tables */

.btn-delete{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    color:white;
    background: rgb(199, 1, 1);
    cursor: pointer;
}

.btn-delete:hover{
    background: red;
}










